body {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
	min-height: 100vh;
	flex-direction: column;
}

code {
    background-color: #ccc;
    padding: 0 0.25em;
    border-radius: 0.25em;
}

.info {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    color: #eee;
}

.info h1, .info p {
    margin: 0;
}

.info a {
    color: #eee;
}

.content {
    margin: 20px 0;
    flex: 1;
}

.commits {
    margin: auto;
    width: 95%;
    width: calc(100% - 20px);
    max-width: 120ch;
}

.commit-message {
    margin: auto;
    max-width: 60ch;
}

.commit-title {
    margin-bottom: 0.25em;
}

.commit-author {
    font-size: 0.9em;
    margin-top: 0.25em;
    color: #444;
}

.links {
    display: flex;
    justify-content: space-between;
    max-width: 40ch;
    margin: auto;
}

.file-addition-count {
    color: green;
}

.file-deletion-count {
    color: red;
}

.diff-viewer {
    border-spacing: 0;
    border: 1px solid #222;
    width: 100%;
}

.patch-header-row {
    background-color: #222;
    color: white;
    text-align: center;
}

.patch-change-segment {
    padding: 0.2rem;
    white-space: pre-wrap;
    font-size: 0.9rem;
    font-family: monospace;
    vertical-align: text-top;
}

.patch-change-segment.empty {
    background-color: #ccc;
}

.patch-change-segment.added {
    background-color: lightgreen;
}

.patch-change-segment.line-number.added::before {
    content: '+';
    color: grey;
}

.patch-change-segment.removed {
    background-color: lightpink;
}

.patch-change-segment.line-number.removed::before {
    content: '-';
    color: grey;
}

.patch-change-segment.line-number.unchanged::before {
    content: ' ';
}

.patch-change-segment.line-number {
    color: grey;
}
